build --define=MANAGER_IMAGE_NAME=cluster-api-aws-controller
build --define=MANAGER_IMAGE_TAG=0.0.4

build --workspace_status_command=./hack/print-workspace-status.sh
build --verbose_failures

run --workspace_status_command=./hack/print-workspace-status.sh

test --features=race --test_output=errors
test --build_tests_only
test --test_summary=detailed
