# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ansible
*.retry

# vim
*~
*.swp

# envfiles
.env
envfile

# kubeconfigs
minikube.kubeconfig
kubeconfig

# Example and binary output directory
/out

# bazel
/bazel-bin
/bazel-cluster-api-provider-aws
/bazel-genfiles
/bazel-out
/bazel-testlogs