# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor director
vendor

# Ansible
*.retry

# vim
*~
*.swp

# envfile
.env
envfile
minikube.kubeconfig
kubeconfig

# binaries
cmd/cluster-controller/cluster-controller
cmd/machine-controller/machine-controller
