items:
- apiVersion: "cluster.k8s.io/v1alpha1"
  kind: Machine
  metadata:
    generateName: aws-controlplane-
    labels:
      set: controlplane
  spec:
    versions:
      kubelet: v1.11.2
      controlPlane: v1.11.2
- apiVersion: "cluster.k8s.io/v1alpha1"
  kind: Machine
  metadata:
    generateName: aws-node-
    labels:
      set: node
  spec:
