apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - image: ${MANAGER_IMAGE}
        imagePullPolicy: ${MANAGER_IMAGE_PULL_POLICY}
        name: manager
