---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: awsfargateprofiles.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AWSFargateProfile
    listKind: AWSFargateProfileList
    plural: awsfargateprofiles
    shortNames:
    - awsfp
    singular: awsfargateprofile
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: AWSFargateProfile ready status
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: EKS Fargate profile name
      jsonPath: .spec.profileName
      name: ProfileName
      type: string
    - description: Failure reason
      jsonPath: .status.failureReason
      name: FailureReason
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: AWSFargateProfile is the Schema for the awsfargateprofiles API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FargateProfileSpec defines the desired state of FargateProfile.
            properties:
              additionalTags:
                additionalProperties:
                  type: string
                description: AdditionalTags is an optional set of tags to add to AWS
                  resources managed by the AWS provider, in addition to the ones added
                  by default.
                type: object
              clusterName:
                description: ClusterName is the name of the Cluster this object belongs
                  to.
                minLength: 1
                type: string
              profileName:
                description: ProfileName specifies the profile name.
                type: string
              roleName:
                description: RoleName specifies the name of IAM role for this fargate
                  pool If the role is pre-existing we will treat it as unmanaged and
                  not delete it on deletion. If the EKSEnableIAM feature flag is true
                  and no name is supplied then a role is created.
                type: string
              selectors:
                description: Selectors specify fargate pod selectors.
                items:
                  description: FargateSelector specifies a selector for pods that
                    should run on this fargate pool.
                  properties:
                    labels:
                      additionalProperties:
                        type: string
                      description: Labels specifies which pod labels this selector
                        should match.
                      type: object
                    namespace:
                      description: Namespace specifies which namespace this selector
                        should match.
                      type: string
                  type: object
                type: array
              subnetIDs:
                description: SubnetIDs specifies which subnets are used for the auto
                  scaling group of this nodegroup.
                items:
                  type: string
                type: array
            required:
            - clusterName
            type: object
          status:
            description: FargateProfileStatus defines the observed state of FargateProfile.
            properties:
              conditions:
                description: Conditions defines current state of the Fargate profile.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: "FailureMessage will be set in the event that there is
                  a terminal problem reconciling the FargateProfile and will contain
                  a more verbose string suitable for logging and human consumption.
                  \n This field should not be set for transitive errors that a controller
                  faces that are expected to be fixed automatically over time (like
                  service outages), but instead indicate that something is fundamentally
                  wrong with the FargateProfile's spec or the configuration of the
                  controller, and that manual intervention is required. Examples of
                  terminal errors would be invalid combinations of settings in the
                  spec, values that are unsupported by the controller, or the responsible
                  controller itself being critically misconfigured. \n Any transient
                  errors that occur during the reconciliation of FargateProfiles can
                  be added as events to the FargateProfile object and/or logged in
                  the controller's output."
                type: string
              failureReason:
                description: "FailureReason will be set in the event that there is
                  a terminal problem reconciling the FargateProfile and will contain
                  a succinct value suitable for machine interpretation. \n This field
                  should not be set for transitive errors that a controller faces
                  that are expected to be fixed automatically over time (like service
                  outages), but instead indicate that something is fundamentally wrong
                  with the FargateProfile's spec or the configuration of the controller,
                  and that manual intervention is required. Examples of terminal errors
                  would be invalid combinations of settings in the spec, values that
                  are unsupported by the controller, or the responsible controller
                  itself being critically misconfigured. \n Any transient errors that
                  occur during the reconciliation of FargateProfiles can be added
                  as events to the FargateProfile object and/or logged in the controller's
                  output."
                type: string
              ready:
                default: false
                description: Ready denotes that the FargateProfile is available.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - additionalPrinterColumns:
    - description: AWSFargateProfile ready status
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: EKS Fargate profile name
      jsonPath: .spec.profileName
      name: ProfileName
      type: string
    - description: Failure reason
      jsonPath: .status.failureReason
      name: FailureReason
      type: string
    name: v1beta2
    schema:
      openAPIV3Schema:
        description: AWSFargateProfile is the Schema for the awsfargateprofiles API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FargateProfileSpec defines the desired state of FargateProfile.
            properties:
              additionalTags:
                additionalProperties:
                  type: string
                description: AdditionalTags is an optional set of tags to add to AWS
                  resources managed by the AWS provider, in addition to the ones added
                  by default.
                type: object
              clusterName:
                description: ClusterName is the name of the Cluster this object belongs
                  to.
                minLength: 1
                type: string
              profileName:
                description: ProfileName specifies the profile name.
                type: string
              roleName:
                description: RoleName specifies the name of IAM role for this fargate
                  pool If the role is pre-existing we will treat it as unmanaged and
                  not delete it on deletion. If the EKSEnableIAM feature flag is true
                  and no name is supplied then a role is created.
                type: string
              selectors:
                description: Selectors specify fargate pod selectors.
                items:
                  description: FargateSelector specifies a selector for pods that
                    should run on this fargate pool.
                  properties:
                    labels:
                      additionalProperties:
                        type: string
                      description: Labels specifies which pod labels this selector
                        should match.
                      type: object
                    namespace:
                      description: Namespace specifies which namespace this selector
                        should match.
                      type: string
                  type: object
                type: array
              subnetIDs:
                description: SubnetIDs specifies which subnets are used for the auto
                  scaling group of this nodegroup.
                items:
                  type: string
                type: array
            required:
            - clusterName
            type: object
          status:
            description: FargateProfileStatus defines the observed state of FargateProfile.
            properties:
              conditions:
                description: Conditions defines current state of the Fargate profile.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: "FailureMessage will be set in the event that there is
                  a terminal problem reconciling the FargateProfile and will contain
                  a more verbose string suitable for logging and human consumption.
                  \n This field should not be set for transitive errors that a controller
                  faces that are expected to be fixed automatically over time (like
                  service outages), but instead indicate that something is fundamentally
                  wrong with the FargateProfile's spec or the configuration of the
                  controller, and that manual intervention is required. Examples of
                  terminal errors would be invalid combinations of settings in the
                  spec, values that are unsupported by the controller, or the responsible
                  controller itself being critically misconfigured. \n Any transient
                  errors that occur during the reconciliation of FargateProfiles can
                  be added as events to the FargateProfile object and/or logged in
                  the controller's output."
                type: string
              failureReason:
                description: "FailureReason will be set in the event that there is
                  a terminal problem reconciling the FargateProfile and will contain
                  a succinct value suitable for machine interpretation. \n This field
                  should not be set for transitive errors that a controller faces
                  that are expected to be fixed automatically over time (like service
                  outages), but instead indicate that something is fundamentally wrong
                  with the FargateProfile's spec or the configuration of the controller,
                  and that manual intervention is required. Examples of terminal errors
                  would be invalid combinations of settings in the spec, values that
                  are unsupported by the controller, or the responsible controller
                  itself being critically misconfigured. \n Any transient errors that
                  occur during the reconciliation of FargateProfiles can be added
                  as events to the FargateProfile object and/or logged in the controller's
                  output."
                type: string
              ready:
                default: false
                description: Ready denotes that the FargateProfile is available.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
