
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: awsmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AWSMachineTemplate
    listKind: AWSMachineTemplateList
    plural: awsmachinetemplates
    singular: awsmachinetemplate
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: AWSMachineTemplate is the Schema for the awsmachinetemplates API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: AWSMachineTemplateSpec defines the desired state of AWSMachineTemplate
          properties:
            template:
              description: AWSMachineTemplateResource describes the data needed to
                create am AWSMachine from a template
              properties:
                spec:
                  description: Spec is the specification of the desired behavior of
                    the machine.
                  properties:
                    additionalSecurityGroups:
                      description: AdditionalSecurityGroups is an array of references
                        to security groups that should be applied to the instance.
                        These security groups would be set in addition to any security
                        groups defined at the cluster level or in the actuator.
                      items:
                        description: AWSResourceReference is a reference to a specific
                          AWS resource by ID, ARN, or filters. Only one of ID, ARN
                          or Filters may be specified. Specifying more than one will
                          result in a validation error.
                        properties:
                          arn:
                            description: ARN of resource
                            type: string
                          filters:
                            description: 'Filters is a set of key/value pairs used
                              to identify a resource They are applied according to
                              the rules defined by the AWS API: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Filtering.html'
                            items:
                              description: Filter is a filter used to identify an
                                AWS resource
                              properties:
                                name:
                                  description: Name of the filter. Filter names are
                                    case-sensitive.
                                  type: string
                                values:
                                  description: Values includes one or more filter
                                    values. Filter values are case-sensitive.
                                  items:
                                    type: string
                                  type: array
                              required:
                              - name
                              - values
                              type: object
                            type: array
                          id:
                            description: ID of resource
                            type: string
                        type: object
                      type: array
                    additionalTags:
                      additionalProperties:
                        type: string
                      description: AdditionalTags is an optional set of tags to add
                        to an instance, in addition to the ones added by default by
                        the AWS provider. If both the AWSCluster and the AWSMachine
                        specify the same tag name with different values, the AWSMachine's
                        value takes precedence.
                      type: object
                    ami:
                      description: AMI is the reference to the AMI from which to create
                        the machine instance.
                      properties:
                        arn:
                          description: ARN of resource
                          type: string
                        filters:
                          description: 'Filters is a set of key/value pairs used to
                            identify a resource They are applied according to the
                            rules defined by the AWS API: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Filtering.html'
                          items:
                            description: Filter is a filter used to identify an AWS
                              resource
                            properties:
                              name:
                                description: Name of the filter. Filter names are
                                  case-sensitive.
                                type: string
                              values:
                                description: Values includes one or more filter values.
                                  Filter values are case-sensitive.
                                items:
                                  type: string
                                type: array
                            required:
                            - name
                            - values
                            type: object
                          type: array
                        id:
                          description: ID of resource
                          type: string
                      type: object
                    availabilityZone:
                      description: AvailabilityZone is references the AWS availability
                        zone to use for this instance. If multiple subnets are matched
                        for the availability zone, the first one return is picked.
                      type: string
                    iamInstanceProfile:
                      description: IAMInstanceProfile is a name of an IAM instance
                        profile to assign to the instance
                      type: string
                    imageLookupOrg:
                      description: ImageLookupOrg is the AWS Organization ID to use
                        for image lookup if AMI is not set.
                      type: string
                    instanceType:
                      description: 'InstanceType is the type of instance to create.
                        Example: m4.xlarge'
                      type: string
                    networkInterfaces:
                      description: NetworkInterfaces is a list of ENIs to associate
                        with the instance. A maximum of 2 may be specified.
                      items:
                        type: string
                      maxItems: 2
                      type: array
                    providerID:
                      description: ProviderID is the unique identifier as specified
                        by the cloud provider.
                      type: string
                    publicIP:
                      description: 'PublicIP specifies whether the instance should
                        get a public IP. Precedence for this setting is as follows:
                        1. This field if set 2. Cluster/flavor setting 3. Subnet default'
                      type: boolean
                    rootDeviceSize:
                      description: RootDeviceSize is the size of the root volume in
                        gigabytes(GB).
                      format: int64
                      type: integer
                    sshKeyName:
                      description: SSHKeyName is the name of the ssh key to attach
                        to the instance.
                      type: string
                    subnet:
                      description: Subnet is a reference to the subnet to use for
                        this instance. If not specified, the cluster subnet will be
                        used.
                      properties:
                        arn:
                          description: ARN of resource
                          type: string
                        filters:
                          description: 'Filters is a set of key/value pairs used to
                            identify a resource They are applied according to the
                            rules defined by the AWS API: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Filtering.html'
                          items:
                            description: Filter is a filter used to identify an AWS
                              resource
                            properties:
                              name:
                                description: Name of the filter. Filter names are
                                  case-sensitive.
                                type: string
                              values:
                                description: Values includes one or more filter values.
                                  Filter values are case-sensitive.
                                items:
                                  type: string
                                type: array
                            required:
                            - name
                            - values
                            type: object
                          type: array
                        id:
                          description: ID of resource
                          type: string
                      type: object
                  type: object
              required:
              - spec
              type: object
          required:
          - template
          type: object
      type: object
  version: v1alpha2
  versions:
  - name: v1alpha2
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
