name: PR verify

on:
  pull_request_target:
    types: [opened, edited, synchronize, reopened]

jobs:
  verify:
    runs-on: ubuntu-latest
    name: verify PR contents
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag=v4.2.2

    - name: Check if PR title is valid
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: |
        ./hack/verify-pr-title.sh "${PR_TITLE}"
